@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corben:wght@700&family=Lato:wght@700&family=Roboto+Condensed&display=swap');

/* Small Components */
@import url("components/list-inline.css");
@import url("components/line.css");
@import url("components/navbar.css");
@import url("components/tooltip.css");
@import url("components/ordered-lists.css");
@import url("components/modal.css");
@import url("components/facebook-responsive.css");
@import url("components/youtube-responsive.css");
@import url("components/links.css");

/* Projects */
@import url("components/game-project.css");
@import url("components/marketplace-project.css");
@import url("components/wine-project.css");
@import url("components/website-project.css");
@import url("components/movie-project.css");
@import url("components/film-project.css");
@import url("components/debate-project.css");

@import url("components/project-images.css");

/* Index */
@import url("components/inside-flap.css");

body {
  background-color: #d6d1cb;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #794f0b;
}

a {
  text-decoration: none;
}

#title {
  font-size: 50px;
  font-family: 'Corben', cursive;
  text-shadow: 5px 5px #296EB4;
  margin: 15px 0 0 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #FFDD4A;
}

h1 > a {
  text-decoration: none;
  color: inherit;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #FFDD4A;
}

h3 {
  color: #296EB4;
}

p, li {
  color: #794f0b;
  line-height: 1.3;
}

.project-title {
  color: #296EB4;
  font-size: 35px;
}

.project-subtitle {
  color: #a98467;
  font-size: 25px;
}

.description {
  width: 300px;
  line-height: 2;
}

/* Inline Icons */
i {
  display: inline-block;
  padding-left: 10px;
}

/* Flexboxes */
.book-container {
  display: flex;
  margin: 1rem auto;
}

.book-container .images {
  border: none;
  background-color: #d6d1cb;
}

.container {
  text-align: center;
  width: 40rem;
  margin: 1.5rem .8rem;
  border: 3px solid #a98467;
  background-color: #e7e3df;
  object-fit: contain;
}

.project-text {
  margin: 1.5rem;
}

.flex-container {
  flex-wrap: wrap;
}

.card, .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  height: 100px;
  width: 150px;
  box-shadow: 10px 5px 5px 1px rgba(0,0,0,0.2);
  border: 2px solid #a98467;
  margin: 8px;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
}

.flex-cards .card, .flex-cards .tooltip-text {
  height: 50px;
  font-size: 17px;
  width: 200px;
}

.logos > img {
  padding: 5px;
}

.expand {
  cursor: pointer;
}

/* Responsive */
@media(min-width: 1320px) {
  .container {
    margin: 1.5rem auto;
  }

  .flex-cards .card, .flex-cards .tooltip-text {
    font-size: 16px;
    width: 170px;
  }
}

@media(max-width: 930px) {
  .container {
    width: 100%;
    margin: 1.5rem 0;
  }

  .book-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .inside-flap {
    display: flex;
    flex-direction: row;
  }

  .inside-flap-text {
    margin-left: 20px;
    line-height: 0.5;
  }

  .inside-flap > img {
    height: 50px;
  }

  .nav-titles > p {
    padding: 20px;
  }
}

@media(max-width: 563px) {
  .container {
    width: 100%;
    margin: 1.5rem 0;
  }

  .flex-cards .card, .flex-cards .tooltip-text {
    height: 45px;
    font-size: 15px;
    width: 150px;
  }

  .nav-titles > p {
    padding: 7px;
  }
}
