/* Wine Project */
.card-project-product, .tooltip-wine {
  background-color: #fefdeb;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8a112b;
  font-weight: normal;
}
