{% extends "layout_home.html" %}

{% block title %}
  Preface
{% endblock %}

{% block inside_cover %}
  <img src="../static/images/face.jpeg" alt="face">
  <div class="inside-flap-text">
    <p class="description">Hello! My name is Addy Cummins and I am a Full Stack Ruby on Rails Jr. Developer from Cleveland, Ohio. I love making web applications, collaborating with creative people, and climbing rocks. I am a teacher and writer turned programmer who is looking to continue learning and crafting new products.</p>
  </div>
{% endblock %}
