{% extends "layout_project.html" %}

{% block title %}
  Film Project
{% endblock %}

{% block images %}
<h1 class="project-title">Staying Skeptical</h1>
<h2 class="project-subtitle">Creating an Inclusive Speech and Debate Club</h2>
<div class="project-text">
  <p class="snapshot">Starting from nothing to 9 students who qualified for Bulgaria's Speech and Debate National Tournament 2022, I created a multi-school team with 3 debaters in the top six speakers in the novice division and 17 students waiting in the wings. They’ve created piles of research, original speeches, solutions to escape room puzzles, and blazed the trail for students interested in speech and debate for years to come.</p>
  <h3>Becoming a Coach</h3>
  <p>Even though I would only be in Bulgaria as a Fulbright English Teaching Assistant for 10 months, I was excited to be involved in one of the most established education nonprofits in the country. The <a href="https://bestfoundation.bg/">BEST Foundation</a> provides English-language speech and debate tournaments and student leadership opportunities to high school students throughout the country. While the majority of schools involved in BEST had established teams, the two schools I taught at had none, and so I quickly got to work recruiting and learning how to be a coach in fields I had no experience in. Wanting to keep the club open to anyone interested in improving their English abilities no matter their current English level, I focused on creating a space where competing was very much optional, albeit encouraged.</p>
  <p>The first semester, we had one team of debaters compete to get 4th place in their division. The second, we had 2 debate teams and one original oratory speaker who wrote her own speech and performed it in front of a panel of judges. Remarkably, all the students who competed qualified for nationals, which was held in person at the American University of Bulgaria in Blagoevgrad. The debate teams of 6th and 8th place out of 12 teams and while our fearless orator made it to semifinals before, she couldn’t make it past the strong competition this time.  While the results of that weekend did not go greatly in our favor, the students got to travel to the other corner of Bulgaria, got to meet amazing and smart students like them, and see their hard work pay off in a national tournament. I am and will forever be very proud of all of them :)</p>
  <p>All 7 students have expressed interest in continuing in 2023, and I am very excited to see what they will accomplish and who else they will inspire in the future.</p>
</div>
<div class="image-card-sm">
  <figure>
    <img src="../static/images/team-dinner.png" alt="image of code">
    <figcaption>Team Dinner</figcaption>
  </figure>
  <figure>
    <img src="../static/images/team-2.png" alt="image of code">
    <figcaption>Debate Team I (Left to Right: Andrey, Tsveti, and Mitko)</figcaption>
  </figure>
</div>
{% endblock %}

{% block text %}
<div class="video-container">
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRFRtsjLPkLic8P9QXecisglXmqvZ4TwuFWYwxMlBjFr6s0SSLD7qyENshWYIUJaxPB8IF5u6Ewk7Vx/embed?start=true&loop=true&delayms=3000&slide=id.p3" frameborder="0" width="560" height="315" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<p><u>Debate Format:</u> BEST debates operate in a World School format, where a team consists of 3 speakers who debate a mandatory four topics: two are known a month in advance, two are impromptu with 30 minutes of hardcopy book research prior.</p>

<h3>Impact on Inequality</h3>
<p>By teaching at two very different schools, I directly saw the inequality in the Bulgarian education system. While one school had the latest technology, inspiring young educators, and innovative curriculum, the other had no-tech classrooms, burnt out teachers, and unpredictable schedules. While one school had robotics and Photoshop clubs, the other had none. It was my mission to merge the two schools together by bringing students with similar interests and create a community not divided by test scores.</p>
<p>In turn, the high schoolers that took part in Speech and Debate at the disadvantaged school were able to gain long lasting friendships and competitive skills in an opportunity that would have been otherwise inaccessible to them. This experience and the emotional goodbyes from these students have inspired me to look at education beyond Bulgaria and think about solutions that don’t pit students and educators from different schools as rivals, but as part of the same community of learners and teachers.</p>
<img class="image-card-lg" src="../static/images/university-bulgaria.png" alt="image of students at the American Unviersity of Bulgaria">
<figcaption>National Tournament Qualifiers</figcaption>
{% endblock %}
