{% extends "layout_project.html" %}

{% block title %}
  Exquisite Corps
{% endblock %}

{% block images %}
<h1 class="project-title">Making Writing Less Lonely</h1>
<h2 class="project-subtitle">Project In Development</h2>
<div class="project-text">
  <p>Let’s be honest: creative writing is a lonely pursuit. It requires thinking to oneself and silently retreating into a place no one else can see. This can be a very frustrating and isolating experience, especially for young people learning how to express themselves. Well not anymore. Due to the physical isolation of covid, multiplayer games have exploded and have connected friends and strangers around the world. So, I hope, will Exquisite Corps, browser game that makes writing dynamic, fun, and collaborative. It is based on a simple parlor game and this is how it works.
  <p>A player starts with a creative prompt and writes a sentence starting the story. The player then must pass the story onto the next player, who continues the story, and so on until the time is up.</p>
  <p>This is just one version of the game, there are many dating back to the surrealist movement of the 1920s, where fragmented, nonsensical, collective art and writing games liberated the imagination.</p>
  <p>The surrealist community called these collectivist games Exquisite Corpse (as in the dead body), which is where I find inspiration for the title of my app. Equisite Corps is more than a just game, it’s more than just a educational way to improve creativity and improvisation, it’s ultimately a community building platform with the message that you are not in this alone, we all need to work together to finish the story.</p>
</div>
{% endblock %}

{% block text %}
<img class="image-card-lg" src="/static/images/exquisite.png" alt="Exquisite Corps Game">
<figcaption>Mock Design Logo</figcaption>
{% endblock %}
